{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icons8-task-100.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <div class="header_body">
        <ul>
            <li><a href="{% url 'index' %}"><i class="fa-solid fa-house-user"></i> На главную</a></li>
            <li><a href="{% url 'add' %}"><i class="fa-solid fa-list-check"></i> Добавить задачу</a></li>
            <li><a href="{% url 'projects' %}"><i class="fa-solid fa-laptop-code"></i> Проекты</a></li>
        </ul>
        {% block header_block %}
        {% endblock %}
    </div>
</header>
<div class="wrapper">
    <div class="todo_block">
        {% block todo_block %}
        {% endblock %}
    </div>
</div>
</body>
</html>